@font-face {font-family: "iconfont";
  src: url('../font/icons/iconfont.eot'); /* IE9*/
  src: url('../font/icons/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icons/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/icons/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/icons/iconfont.svg') format('svg'); /* iOS 4.1- */
}

/* Base Application Styles */
html,body {
  background-color: #222;
  width:100%;
  height:100%;
}
.content{
  width:100%;
  height:100%;
}


/* stage -- start */
.stage{
  position: relative;
  width:100%;
  height:680px;
}

/* stage -- end */

/* image -- start*/
.img-sec {
  position:relative;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;
  @at-root{
    .img-figure{
      position: absolute;
      width:320px;
      height:360px;
      margin:0;
      padding:40px;
      background-color: #fff;
      cursor:pointer;
      box-sizing:border-box;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      perspective: 100px;
      &.is-inverse{
        transform: translate(320px) rotateY(180deg);
      }
    }
    figcaption {
      text-align:center;
      .img-title{
        margin:20px 0 0 0;
        color:#a7a0a2;
      }
      .img-back {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 50px 40px;
        overflow: auto;

        color: #a7a0a2;
        font-size: 22px;
        line-height: 1.25;
        text-align: left;

        background-color: #fff;

        box-sizing: border-box;
        transform: rotateY(180deg) translateZ(1px);
        backface-visibility: hidden;

        p {
          margin: 0;
        }
      }
    }
  }

}
/* image -- end*/

/* controller-nav -- start*/
.controller-nav {
  position:absolute;
  left:0;
  bottom:30px;
  z-index: 101;
  width:100%;
  text-align: center;
  @at-root {
    .controller-unit {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;
      transform:scale(.5);
      transition: transform .6s ease-in-out, background-color .3s;
      &.is-center{
        transform:scale(1);
        background-color: #888;
        &::after{
          font-family: "iconfont";
          content: "\f000e";
          line-height: 30px;
          font-size: 30px;
          color:#fff;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &.is-inverse {
          background-color: #555;
          transform:rotateY(180deg);
        }
      }
    }
  }
}
/* controller-nav -- end*/
